@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Josefin+Slab');

body {
  background-color: #ffffff;
}

h1 {
  font-family: 'Roboto';
  margin: 0 auto;
  margin-top: 6%;
  text-align: center;
  font-size: 70px;
}

ul,
li {
  font-family: 'Roboto';
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  list-style: none;
}
