<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Auto</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!---Navbar--->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >Page 1 <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">Page 1-1</a></li>
              <li><a href="#">Page 1-2</a></li>
              <li><a href="#">Page 1-3</a></li>
            </ul>
          </li>
          <li><a href="#">Page 2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"
              ><span class="glyphicon glyphicon-user"></span> Sign Up</a
            >
          </li>
          <li>
            <a href="#"
              ><span class="glyphicon glyphicon-log-in"></span> Login</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!---Welcome banner -->
    <div class="jumbotron text-center">
      <h1>CAR info API</h1>
      <p>Resize this responsive page to see the effect!</p>
    </div>

    <!--Form-->
    <div class="container mt-5">
      <h2 class="mb-3">Vehicle information</h2>

      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Add Vehicle</h5>
          <form id="addVehicleForm" action="/vehicles" method="post">
            <div class="form-group">
              <label for="title">Brand:</label>
              <input
                type="text"
                class="form-control"
                id="brand"
                name="brand"
                required
              />
            </div>
            <div class="form-group">
              <label for="author">Name:</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                required
              />
            </div>
            <div class="form-group">
              <label for="published_date">Vin:</label>
              <input type="text" class="form-control" id="vin" name="vin" />
            </div>
            <button id="addVehicleButton" type="button" class="btn btn-primary">
              Add Vehicle
            </button>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">List of Vehicles</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Brand</th>
                <th>Name</th>
                <th>Vin</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {{range .vehicles}}
              <tr>
                <td>{{.Brand}}</td>
                <td>{{.Name}}</td>
                <td>{{.Vin}}</td>
                <td>
                  <form
                    action="/delete-book"
                    method="post"
                    style="display: inline"
                  >
                    <input type="hidden" name="book_id" value="{{.ID}}" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                  <form
                    action="/update-book"
                    method="get"
                    style="display: inline"
                  >
                    <input type="hidden" name="book_id" value="{{.ID}}" />
                    <button type="submit" class="btn btn-primary">
                      Update
                    </button>
                  </form>
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--Columns-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Column 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris...
          </p>
        </div>
        <div class="col-sm-4">
          <h3>Column 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris...
          </p>
        </div>
        <div class="col-sm-4">
          <h3>Column 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris...
          </p>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
